

.diamond {
  overflow: hidden;
  height: 200px;
  transform:translate(-30px, 0px) rotate(45deg);
	width:200px;
  border-width: 2px;
  border-style: solid;
  border-color:white;
  outline-width: 2px;
  outline-color: gainsboro;
  outline-style: solid;
  outline-offset: 2px;
  object-position: center;
  position: relative;
  padding:10px;
  border-radius: 0px;
}

.diamond-image
{
  --offsetY:0px;
  position: relative;

}

.diamondDiv
{
  transform: translateX(-10px);
}

.EntryBackground
{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 600px;
  border-width:2px;
  border-style:solid;
}

.entryDiv
{
  display:flex;

}

.EntryTextBox
{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 0.5%;
  font-size: 0.8rem;
  color:lightgray;
}

.EntryHeader
{
  font-size: 2rem;
  text-align: left;
  color: white;
  text-shadow: -2px 2px black;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.shapeScaler
{
  position:relative;
  transform: scale(var(--vw-scale));
  margin-top: max(15%,calc(calc(var(--vh-scale) * var(--vh-scale)) * 15%));

}

.shapeScaler a {
  text-decoration: none;
  color:black;
}
.shapeScaler a:focus
{
  color:black;
}