.diamond 
{
  position: relative;
  overflow: hidden;
}
.diamond {
   
  height: 60px;
  text-align: center;
  transform:rotate(45deg);
	width:60px;
}
.diamond:before
{
  position:absolute;
  z-index: -1;
  
  background: url(https://picsum.photos/200) center/cover no-repeat;
  
}
.diamond:before
{
  transform:rotate(45deg);
}