


.diamond {
  overflow: hidden;
  height: 200px;
  transform:translate(-30px, 0px) rotate(45deg);
	width:200px;
  border-width: 2px;
  border-style:solid;
  object-position: center;
  position: relative;
  padding:10px;
  border-radius: 5px;
}


.diamond-image
{
  position: relative;
  transform:rotate(-45deg) translate(-100px, -100px);


}
.diamondDiv
{
  transform: translateX(-10px);
}

.EntryBackground
{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 600px;
  border-width:2px;
  border-style:solid;
}

.entryDiv
{
  display:flex;

}

.EntryTextBox
{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 0.5%;
  font-size: 0.8rem;
}

.EntryHeader
{
  font-size: 1rem;
  text-align: center;
}

.shapeScaler
{
  position:relative;
  transform: scale(var(--vw-scale));
  margin-top: max(15%,calc(calc(var(--vh-scale)* var(--vh-scale))* 15%));

}