---
import '../styles/PageStyle.css';
import HeaderBar from'../components/HeaderBar.astro'
const PageTitle = "Portfolio";
---
<HeaderBar />

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DVNAMIS | {PageTitle}</title>
    <style>
      skill {
        color: blue;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 4rem;
        font-weight: bold;
      }
    </style>
	</head>
	<body>
		<h1>DVNAMIS Portfolio Website</h1>
    <skill>AttemptSkill</skill>
    <script>
      import "../scripts/menu.js";
    </script>
	</body>
</html>
