---
import '../styles/PageStyle.css';

import SmallEntry from '../components/SmallEntry.astro'
import HeaderBar from '../components/HeaderBar.astro'
import ScrollBar from '../components/ScrollBar.astro'
const PageTitle = "Portfolio";
---
<HeaderBar />

<html lang="en" translate="no">
	<div>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title >DVNAMIS | {PageTitle}</title>
  </div>
	<body>
		<h1 translate="no">DVNAMIS Portfolio Website</h1>
    <div class = "skill">AttemptSkill</div>
    <script is:inline 
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>

    <SmallEntry propid="StrikeBack" link="/PortfolioEntries/StrikeBack" imageFile="/assets/images/StrikeBackSplash.png" 
    imageOffsetX={480 / 0.1} 
    imageOffsetY={-700 / 0.13} 
    imagescaleX={0.10} 
    imagescaleY={0.13}
    header="Strike Back"
    blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"

    />

    <SmallEntry propid="AbyssOfSand"link="/PortfolioEntries/AbyssOfSand" imageFile="/assets/images/Showing.png"  imageOffsetX={1000}
    
    header="Abyss of Sand"
    blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"

     />

    <SmallEntry propid="BurgerFlippant" link="/PortfolioEntries/BurgerFlippant" imageFile="/assets/gifs/burgerflipping.gif"
     imageOffsetX={-45}
     imageOffsetY={-325}
     imagescaleX={0.75} 
     imagescaleY={0.75}
     header="Burger Flippant"
     blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"
     />

    
    <script>
      import "../scripts/menu.js";
    </script>
	</body>
</html>
