---
import '../styles/PageStyle.css';

import SmallEntry from '../components/SmallEntry.astro'
import HeaderBar from '../components/HeaderBar.astro'
import ScrollBar from '../components/ScrollBar.astro'
const PageTitle = "Portfolio";
---
<HeaderBar />

<html lang="en" translate="no">
	<div>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title >DVNAMIS | {PageTitle}</title>
  </div>
	<body>
		<h1 translate="no">DVNAMIS Portfolio Website</h1>
    <script is:inline 
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <div class="PortfolioScroll">



    <SmallEntry propid="AbyssOfSand"link="/PortfolioEntries/AbyssOfSand" imageFile="/assets/images/redsun2.png"
    imageOffsetX={170 / 0.2}
    imageOffsetY={-320 / 0.25}
    imagescaleX={0.2} 
    imagescaleY={0.25}
    header="Abyss of Sand"
    blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"

     />

     <SmallEntry propid="VehiclePathing" link="/PortfolioEntries/VehiclePathing" imageFile="/assets/images/RRTree.png"
     imageOffsetX={22/0.5}
     imageOffsetY={-230/0.5}
     imagescaleX={0.5} 
     imagescaleY={0.5}
     header="RRT+KNG Pathing"
     blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"
     />

    </div>
    <SmallEntry propid="StrikeBack" link="/PortfolioEntries/StrikeBack" imageFile="/assets/images/StrikeBackSplash.png" 
    imageOffsetX={480 / 0.1} 
    imageOffsetY={-700 / 0.13} 
    imagescaleX={0.10} 
    imagescaleY={0.13}
    header="Strike Back"
    blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"

    />

     <SmallEntry propid="DBFZKai" link="/PortfolioEntries/DBFZKai" imageFile="/assets/images/websiteKai.png"
     imageOffsetX={-70/0.7}
     imageOffsetY={-30/1.2}
     imagescaleX={0.7} 
     imagescaleY={1.1}
     header="Dragon Ball FighterZ Kai"
     blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"
     />

    <SmallEntry propid="BurgerFlippant" link="/PortfolioEntries/BurgerFlippant" imageFile="/assets/gifs/burgerflipping.gif"
     imageOffsetX={10}
     imageOffsetY={-433}
     imagescaleX={0.75} 
     imagescaleY={0.75}
     header="Burger Flippant"
     blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"
     />
     <SmallEntry propid="Skelomancer" link="/content/Skelomancer" imageFile="/assets/images/RRTree.png"
     imageOffsetX={22/0.5}
     imageOffsetY={-230/0.5}
     imagescaleX={0.5} 
     imagescaleY={0.5}
     header="Skelomancer"
     blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"
     />

     <SmallEntry propid="CodenameBlazer" link="/PortfolioEntries/CodenameBlazer" imageFile="/assets/images/evidence.png"
     imageOffsetX={140 / 0.18}
     imageOffsetY={-310 / 0.28}
     imagescaleX={0.18} 
     imagescaleY={0.28}
     header="Codename Blazer"
     blurb="this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum. this is a lorem ipsum"
     />




    
    <script>
      import "../scripts/menu.js";
    </script>
	</body>
</html>
