---
const PageTitle = "Page Test";
import HeaderBar from'../components/HeaderBar.astro'
---
<HeaderBar />


<title>DVNAMIS | {PageTitle}</title>

<html lang="en">
  <body>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>