---


const { frontmatter } = Astro.props;
import HeaderBar from'../components/HeaderBar.astro'


---

<HeaderBar />



<title>DVNAMIS | {frontmatter.title}</title>

<h1>{frontmatter.title}</h1>


<html lang="en">
  <body>
    {frontmatter.intro}
    <style>
      .scaledImage{
        width: 20%;
        height: 20%;
      }
    </style>
    {frontmatter.image && <img class="scaledImage" src={frontmatter.image} alt={frontmatter.image_alt || ''} />}

    <slot />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>