---
const { frontmatter } = Astro.props;
import HeaderBar from'../components/HeaderBar.astro'

---


<HeaderBar />



<title>DVNAMIS | {frontmatter.title}</title>

<h1>{frontmatter.title}</h1>


<html lang="en">
  <body>
    {frontmatter.intro}
    <slot />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>