---
interface Props {
  link: string;
  imageFile: string;
}

import '../styles/SmallEntry.css';
const { link, imageFile } = Astro.props;
---


<body>
  <script>
    import '../scripts/transformScaling.js'
  </script>
  <div class="shapeScaler">
    <a href={link}>
      <div class="EntryBackground" >
        <div class = entryDiv>
          <div class="diamondDiv">
            <div class="diamond">
              <div class="diamond-image">
                <img src={imageFile} alt="picture alt">
              </div>
            </div>
          </div>
  
          <div class="EntryTextBox">
            <div class="EntryHeader">
              HEADER
            </div>
            <div>
              A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A A 
            </div>
            
          </div>
        </div>
    </a>
    


    </div>
  </div>


</body>